/************** global reset and base background styles ***************/

* { margin: 0; padding: 0; box-sizing: border-box; }

body { margin: 0; padding: 0; height: 100vh; background: rgb(29,28,59);
    background: linear-gradient(90deg, rgba(29,28,59,1) 0%, rgba(5,5,41,1) 100%);
    font-family: 'Audiowide', cursive;
}

#canvas1 { border: 5px solid black; position: absolute; 
    top: 50%; left: 50%; transform: translate(-50%, -50%);
    background: #4d79bc;
    max-width: 100%; max-height: 100%;
    font-family: 'Audiowide', cursive;
}

#layer1, #layer2, #layer3, #layer4, #player, #angler1, #angler2, #lucky, #projectile { 
    display: none; 
}